@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.pf-dashboard {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pf-dashboard > .pf-c-tab-content {
  flex: 1 1 0;
  background-color: var(--pf-global--Color--light-200);
  overflow: auto;
}
