.pf-dashboard-card-editor {
  &__preview {
    background-color: #f0f0f0;
    display: flex;
    padding: 50px !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
}
